---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ListOfItems from '../components/ListOfItems.jsx';
import ThingsForm from '../components/ThingsForm.jsx';
import ItemsCounter from '../components/ItemsCounter.vue'


---
<Layout title="Welcome to Astro." >
	<main >	
		<Card title="Things" >
			<ThingsForm client:only="react" />
			<ListOfItems client:only="react" />
			<ItemsCounter  client:only/>
		</Card>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
